div {
    background-color: aqua;
}

h1 {
    color: rgb(127, 189, 76);
font-size: 50px;
background-color: rgb(170, 241, 2);
}

p {
    color: blueviolet;
}

body {
    background-color: blanchedalmond;
}

.one {
    background-color: rgb(8, 230, 0);
}
